{% extends "base.html" %}

{% block title %}
  
{% endblock title %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Welcome to foodie site.</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log in</button>
      </form>
      <div>
        <h3>Not registered yet?</h3>
        <button class="btn btn-outline-primary btn-block btn-lg"><a href="/signup">please sign up</a></button>
      </div>
    </div>
  </div>
{% endblock body %}